@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);
body,
html,
div.board,
div#react-container {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
}

div.board {
    width: 100%;
    height: 1000px;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

div.note {
    height: 150px;
    width: 150px;
    background-color: #F9F871;
    margin: 2px 0;
    position: absolute;
    cursor: -webkit-grab;
    -webkit-box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
}

div.note:active {
    cursor: -webkit-grabbing;
}

div.note p {
    font-size: 22px;
    padding: 5px;
    font-family: "Shadows Into Light", Arial;
}

div.note:hover>span {
    opacity: 1;
}

div.note>span {
    position: absolute;
    bottom: 2px;
    right: 2px;
    opacity: 0;
    transition: opacity .25s linear;
}

div.note button {
    margin: 2px;
}

div.note>textarea {
    height: 75%;
    background: rgba(255, 255, 255, .5);
}

div.board button {
    color: #fff;
    font-size: 14px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
    margin: 0px 3px;
}

#add {
    background-color: #00D2FC;
    height: 5em;
    width: 5em;
    position: absolute;
    right: -2px;
    border: 0px;
    border-bottom-left-radius: 20px;
    outline: none;
}

#edit {
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    width: 25px;
    height: 25px;
    padding-right: 20px;
}

#save {
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    width: 25px;
    height: 25px;
    padding-right: 20px;
}

#cancel {
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    width: 25px;
    height: 25px;
    padding-right: 20px;
}

#remove {
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    width: 25px;
    height: 25px;
    padding-right: 20px;
}

.editArea {
    border: none;
    outline: none;
    resize: none;
    overflow: auto;
    width: 145px;
    height: 114px;
    background: #FEFEDF;
}